PORT=8000
APP_URL=http://localhost:3000

CRAWLBASE_PROXY_HOST=
CRAWLBASE_PROXY_KEY=
CRAWLBASE_PROXY_PORT=

DATABASE_URL=
DIRECT_URL=

OPENAI_API_KEY=
GEMINI_API_KEY=

ACCESS_SECRET=
REFRESH_SECRET=

GOOGLE_AUTH_CLIENT_ID=
GOOGLE_AUTH_CLIENT_SECRET=
GOOGLE_AUTH_REDIRECT_URI=http://localhost:8000/api/v1/auth/google/callback

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_STARTER_PRICE_ID=

IMAGEKIT_PRIVATE_KEY=

RESEND_API_KEY=
EMAIL_FROM=Intervue <onboarding@resend.dev>